.side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-bottom: 1rem;
    .form-group {
        width: 48%;
        margin-bottom: 0;
    }
}