---
layout: page
---

<style>
	/* canvas {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
	} */
</style>
<div class="bento bento-full">
	<div class="letter bento-item-1-1">
		<img
			style="
				position: absolute;
				z-index: 1;
				right: 16px;
				bottom: 16px;
				user-select: none;
			"
			src="/assets/letter.png"
		/>

		<div style="z-index: 100">
			<p class="text" style="margin-top: 0px">Welcome!</p>
			<!-- <p class="text">
				I'm an interface researcher interested in ways to expand what we can
				<i>perceive</i> and <i>understand</i>.
			</p> -->
			<p class="text">
				I'm an interface researcher interested in how technology can support
				deeper understanding and playful discovery.
			</p>
			<p class="text">
				I've done research at NYU focused on <i>creativity support tools</i>,
				developed interfaces at Midjourney and worked as an interaction designer
				alongside Hugh Dubberly.
			</p>
			<p class="text">
				With Andy Matuschak, we designed
				<a href="/Latticework">Latticework</a>, a text editing environment aimed
				to help people synthesize freeform, unstructured documents.
			</p>
			<p class="text">
				If my work resonates with you, this is a standing invitation to reach
				out!
			</p>

			<div
				class="text"
				style="
					color: grey;
					display: flex;
					flex-direction: row;
					padding-left: 20px;
				"
			>
				<a
					style="
						position: absolute;
						left: 0px;
						top: 3px;
						text-decoration: none;
						background-repeat: no-repeat;
						margin-top: auto;
						margin-bottom: auto;
					"
					href="mailto:matthewwilsonsiu@gmail.com"
				>
					<img
						style="width: auto; margin-top: auto; margin-bottom: auto"
						src="/assets/mail.svg"
					/>
				</a>
				matthewwilsonsiu@gmail.com
			</div>
			<div
				class="text"
				style="
					color: grey;
					display: flex;
					flex-direction: row;
					padding-left: 20px;
				"
			>
				<a
					style="
						position: absolute;
						left: 0px;
						top: 3px;
						text-decoration: none;
						background-repeat: no-repeat;
						margin-top: auto;
						margin-bottom: auto;
					"
					href="https://twitter.com/MatthewWSiu"
					target="_blank"
				>
					<img
						style="width: auto; margin-top: auto; margin-bottom: auto"
						src="/assets/twitter.svg"
					/>
				</a>
				<div class="">@MatthewWSiu</div>
			</div>
		</div>
	</div>
</div>

<div class="bento bento-third">
	<div
		class="bento-item bento-item-1-3"
		style="
			background-image: url('/assets/Interface.png');
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;
		"
		onclick="window.open('/Interfaces', '_blank')"
	>
		<h2 class="bento-title">Interface Gallery</h2>
	</div>
	<div
		class="bento-item bento-item-3-3 bulletin-bento-item"
		style="
			background-image: url('/assets/bulletin3.png');
			background-repeat: no-repeat;
			background-size: cover;
		"
	>
		{% for data in site.data.bulletin %}
		<div class="bulletin-item hide">
			{% assign bulletin_parts = data.bulletin | split: ';' %}
			<div class="bulletin-content">
				<span class="flex-row bento-title">
					<h2 class="bento-bulletin-header">Bulletin</h2>
					<span class="bento-time">{{ data.date }}</span>
				</span>

				{% for part in bulletin_parts %}
				<span class="text">{{ part | strip }}</span>{% unless forloop.last %}<br /><br />{%
				endunless %} {% endfor %}
			</div>
		</div>
		{% endfor %}

		<div id="bulletin-toggle">
			<div class="caret-item caret-up" style="position: relative">
				<div class="caret-disable"></div>
				<img
					class="caret"
					style="transform: rotate(-180deg)"
					src="/assets/caret.svg"
					alt="Caret"
				/>
			</div>
			<div class="caret-item caret-down" style="position: relative">
				<div class="caret-disable"></div>
				<img class="caret" src="/assets/caret.svg" alt="Caret" />
			</div>
		</div>
	</div>
</div>
<div class="bento bento-half">
	<div
		class="bento-item bento-item-1-2"
		style="
			background-image: url('https://pbs.twimg.com/media/GGd5bwzX0AAi-94?format=jpg&name=large');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0% 70%;
		"
	>
		<a
			href="https://x.com/Aurumek_/status/1758507708758556899?s=20"
			target="_blank"
			class="bento-attribution"
			>@Arumek</a
		>
	</div>
	<div
		class="bento-item bento-item-2-2"
		style="
			background-image: url('assets/map.png');
			background-repeat: no-repeat;
			background-size: cover;
			cursor: pointer;
		"
		onclick="window.open('https://felt.com/map/Places-9Ag4bBexWQJ6IUpH9BzhvqyB?loc=39.09,-140.53,3.56z', '_blank')"
	>
		<h2 class="bento-title">Places</h2>
	</div>
</div>

<div class="bento">
	<!-- <div class="bento-item-no-background" style="color: gray; font-style: italic">
		indexing... please take a look in the meantime!
	</div> -->
	<div class="bento-item-no-background">
		<h2 class="bento-title post-header">Index</h2>
	</div>
	<div class="bento-half">
		<div class="bento-item-no-background bento-item-1-2 things"></div>
		<div class="bento-item-no-background bento-item-2-2 ongoing-things"></div>
	</div>
</div>

<div id="preview-box"></div>

<script>
	let previewBox = document.getElementById("preview-box");

	function createYearSection(year, isFirst) {
		return `
			<div class="post-section ${isFirst ? "first-section" : ""}">
				${year}
			</div>
		`;
	}

	function createMonthSection(monthName) {
		return `
			<span class="post-month">
				${monthName}
				<hr class="post-decoration"></hr>
			</span>
		`;
	}

	async function generateThings() {
		let t_things = document.querySelector(".things");
		let o_t_things = document.querySelector(".ongoing-things");

		// load json
		let data = await fetch("./assets/things.json").then((response) => {
			return response.json();
		});

		let collaborators = await fetch("./assets/collaborators.json").then(
			(response) => {
				return response.json();
			}
		);

		data.forEach((section, index) => {
			let year = section["year"];
			let month = section["month"];
			let things = section["things"];

			if (year == "ongoing") {
				let newDiv = document.createElement("div");
				let html = createYearSection(year, true);
				newDiv.innerHTML = html;
				o_t_things.appendChild(newDiv);
			} else if (year) {
				let newDiv = document.createElement("div");
				let html = createYearSection(year, t_things.children.length === 0);
				newDiv.innerHTML = html;

				t_things.appendChild(newDiv);
			} else if (month) {
				let newDiv = document.createElement("div");
				let html = createMonthSection(month);
				newDiv.innerHTML = html;
				t_things.appendChild(newDiv);
			}

			things.forEach((thing) => {
				let newDiv = document.createElement("div");
				let marker = thing.marking;
				let collaboratorsHtml = thing.collaborators
					.map((collaborator) => {
						let collaborator_url = collaborators[collaborator];
						return `<a style="color: gray; font-style: italic;" href="${collaborator_url}" target="_blank">${collaborator}</a>`;
					})
					.join(", ");

				let html = `
						<div class="index-item" style="position: relative;">
							${
								marker === "star"
									? `
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="position: absolute; left: -20px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px;">
									<path d="M12 2l2.4 7.4h7.6l-6 4.6 2.4 7.4-6-4.6-6 4.6 2.4-7.4-6-4.6h7.6z"/>
								</svg>`
									: ""
							}
							<a class="index-link" href="${thing.url}">${thing.title}</a>
							${
								collaboratorsHtml
									? ` <span style="color: gray; font-style: italic;margin-left: 5px;" class="collaborators"> w/ ${collaboratorsHtml}</span>`
									: ""
							}
						</div>
					`;

				newDiv.innerHTML = html;

				if (year == "ongoing") {
					o_t_things.appendChild(newDiv);
				} else {
					t_things.appendChild(newDiv);
				}
			});
		});
	}
	generateThings();
</script>
<script>
	let bb_bulletinItems = document.querySelectorAll(".bulletin-item");
	let bb_currentBulletin = 0;
	bb_bulletinItems[bb_currentBulletin].classList.remove("hide");

	let bb_downCaretDisable = document
		.querySelector(".caret-down")
		.querySelector(".caret-disable");
	let bb_upCaretDisable = document
		.querySelector(".caret-up")
		.querySelector(".caret-disable");

	function toggleBulletinCarets() {
		if (bb_currentBulletin == 0) {
			bb_upCaretDisable.classList.remove("caret-hide");
			bb_downCaretDisable.classList.add("caret-hide");
		} else if (bb_currentBulletin == bb_bulletinItems.length - 1) {
			bb_upCaretDisable.classList.add("caret-hide");
			bb_downCaretDisable.classList.remove("caret-hide");
		} else {
			bb_upCaretDisable.classList.add("caret-hide");
			bb_downCaretDisable.classList.add("caret-hide");
		}
	}

	toggleBulletinCarets();
	let bb_downCaret = document
		.querySelector(".caret-down")
		.querySelector(".caret");
	let bb_upCaret = document.querySelector(".caret-up").querySelector(".caret");

	bb_downCaret.addEventListener("click", function () {
		bb_bulletinItems[bb_currentBulletin].classList.add("hide");
		bb_currentBulletin = Math.min(
			bb_currentBulletin + 1,
			bb_bulletinItems.length - 1
		);
		bb_bulletinItems[bb_currentBulletin].classList.remove("hide");
		toggleBulletinCarets();
	});

	bb_upCaret.addEventListener("click", function () {
		bb_bulletinItems[bb_currentBulletin].classList.add("hide");
		bb_currentBulletin = Math.max(bb_currentBulletin - 1, 0);
		bb_bulletinItems[bb_currentBulletin].classList.remove("hide");
		toggleBulletinCarets();
	});
</script>
