---
layout: page
---

<div class="section">
	<p class="text">歡迎光臨, welcome!</p>
	<p class="text">I do interface research exploring ways to expand what we can <i>perceive</i> and <i>understand</i>.</p>
	<p class="text">My current focus is on prototyping a text editor that can help people synthesize messy, unstructured materials. More to share soon! I’ve done research at NYU focused on creativity support tools, developed interfaces at Midjourney and worked as an interaction designer alongside Hugh Dubberly.</p>
	<p class="text">
		<span>
			Friends have described me as an old soul. Patient, perceptive, persistent. Please have a look around and feel free to say hi.
			<span style="margin-left:5px;"><a style="text-decoration: none; background-repeat: no-repeat;" href="mailto:matthewwilsonsiu@gmail.com"><img style="width:20px;" src="/assets/mail.svg"/></a></span>
			<span style="margin-left:5px;"><a style="text-decoration: none; background-repeat: no-repeat;" href="https://twitter.com/MatthewWSiu" target="_blank"><img style="width:20px;" src="/assets/twitter.svg"/></a></span>
		</span>
		
		
	</p>
	<p class="text">
		<img style="width: 40px;opacity:0;user-select: none;" src="/assets/Signature.svg" alt="Signature">	
		<img style="width: 100px;position:absolute; right:50px; top:-30px; user-select: none;" src="/assets/Signature.svg" alt="Signature">	
	</p>
</div>

<div class="bento bento-third">
	<div class="bento-item bento-item-1-3"  style=" background-image: url('assets/interface.png'); background-repeat: no-repeat; background-size: cover;">
		<h2 class="bento-title">Interface Gallery</h2>
	</div>
	<div class="bento-item bento-item-3-3" style=" background-image: url('assets/bulletin3.png'); background-repeat: no-repeat; background-size: cover;">
		{% assign latest_bulletin = site.data.bulletin | first %}
		{% assign bulletin_parts = latest_bulletin.bulletin | split: ';' %}
		<span class="flex-row bento-title">
			<h2 class="bento-bulletin-header">Bulletin</h2>
			<span class="bento-time">{{ latest_bulletin.date }}</span>
		</span>

		{% for part in bulletin_parts %}
			<span>{{ part | strip }}</span>{% unless forloop.last %}<br/><br/>{% endunless %}
		{% endfor %}
	</div>
</div>
<div class="bento bento-half">
	<div class="bento-item bento-item-1-2" style=" background-image: url('https://pbs.twimg.com/media/GGd5bwzX0AAi-94?format=jpg&name=large'); background-repeat: no-repeat; background-size: cover; background-position:0% 70%">
		<a href="https://x.com/Aurumek_/status/1758507708758556899?s=20" target="_blank" class="bento-attribution">@Arumek</a>
	</div>
	<div class="bento-item bento-item-2-2" style=" background-image: url('assets/map.png'); background-repeat: no-repeat; background-size: cover;">
		<h2 class="bento-title">Places</h2>
	</div>
</div>

<div class="side-by-side">
	<div class="post-group">
		<div style="display: flex; flex-direction: row">
			<h2 class="post-header">Trails</h2>
			<span class="post-header-subtext text">mind wanderings</span>
		</div>
		<!-- {% for impression in site.impressions %} {{ impression.last_modified_at |
		date: "%Y-%m-%d" }}
		<div>
			<a class="internal-link" href="{{ site.baseurl }}{{ impression.url }}"
				>{{ impression.title }}</a
			>
		</div>
		{% endfor %}  -->
		{% assign notes_by_month = site.impressions | group_by_exp:"impression",
		"impression.date | date: '%B %Y'" | reverse %} {% for month in notes_by_month %}
		<span class="post-section">
			{{ month.name }}
			<!-- <div
				style="
					height: 1px;
					width: 78px;
					background: linear-gradient(
						90deg,
						#858585 0%,
						rgba(178, 178, 178, 0) 98.33%
					);
					background-image: radial-gradient(
							circle,
							#858585 10%,
							transparent 10.01%
						),
						radial-gradient(circle, #858585 10%, white 10.01%);
					background-size: 10px 10px;
					background-position: 0 0, 5px 5px;
				"
			></div> -->
			<hr class="post-decoration"></hr>
		</span>
		<!-- Month and Year -->
		{% for impression in month.items %} {{ note.last_modified_at | date:
		"%Y-%m-%d" }}
		<div class="post text">
			<a
				href="{{ impression.baseurl }}{{ impression.url }}"
				>{{ impression.title }}</a
			>
		</div>
		{% endfor %} {% endfor %}
		<a href="/trails">see all</a>
	</div>

	<div class="post-group post-align">
		<div style="display: flex; flex-direction: row">
			<h2 class="post-header">Artifacts</h2>
			<span class="post-header-subtext text">pieces of the past</span>
		</div>
		{% assign notes_by_month = site.notes | group_by_exp:"note", "note.date |
		date: '%B %Y'" %} {% for month in notes_by_month %}
		<!-- <span class="post-section" >
			{{ month.name }}
			<hr class="post-decoration"></hr>
		</span> -->
		<!-- Month and Year -->
		{% for note in month.items %}
		<div class="post text">
			<a href="{{ note.baseurl }}{{ note.url }}"
				>{{ note.title }}</a
			>
		</div>
		{% endfor %} {% endfor %}
		<a href="/artifacts">see all</a>


		<!-- {% for note in site.notes %} {{ note.last_modified_at | date: "%Y-%m-%d" }}
		<div>
			<a class="internal-link" href="{{ note.baseurl }}{{ note.url }}"
				>{{ note.title }}</a
			>
		</div>
		{% endfor %} -->
	</div>
</div>
