<!--- Header and nav template site-wide -->
<!-- FILEPATH: /Users/dubberly/Desktop/personal-site/_includes/header.html -->
<!-- BEGIN: abpxx6d04wxr -->
<header class="header">
	<!-- Import English name SVG -->
	<img
		class="english-name"
		src="{{site.baseurl}}/assets/english-name.svg"
		alt="English Name"
	/>
	<!-- Import Chinese name SVG -->
	<img
		class="chinese-name header-spacing"
		src="{{site.baseurl}}/assets/chinese-name.svg"
		alt="Chinese Name"
	/>

	<div class="header-line header-spacing">
		<div class="header-icons">
			<div class="header-icon">
				<img
					class="header-image"
					src="{{site.baseurl}}/assets/twitter.svg"
					alt="Twitter Icon"
				/>
			</div>
			<div class="header-icon">
				<img
					class="header-image"
					src="{{site.baseurl}}/assets/mail.svg"
					alt="Mail Icon"
				/>
			</div>
			<div class="header-icon">
				<img
					class="header-image"
					src="{{site.baseurl}}/assets/pencil.svg"
					alt="Pencil Icon"
				/>
			</div>
		</div>
	</div>
</header>
